.root {
	--phone-bg-color: #ededed;
	--font-color: rgb(53, 53, 53);
}

.iphone_x {
	width: 375px;
	height: 812px;
	background-color: var(--phone-bg-color);
}

#phone {
	display: flex;
	//纵向排列
	flex-direction: column;
	height: 812px;
}

.phone_bar {
	height: 44px;
	align-items: center;
	display: flex;
	padding: 0 14px 0 31px;
	.bar_time {
		font-size: 15px;
		line-height: 1.5;
		font-weight: 600;
		color: var(--font-color);
		flex: 1;
	}
	.bar_signal {
		width: 18px;
		height: 12px;
		margin-right: 2px;

		@for $i from 1 through 4 {
			&.signal_#{$i} {
				background: url('../public/images/bar/ios-single-#{$i}-dark.png') center/cover no-repeat;
			}
		}
	}

	.bar_networks {
		width: 21px;
		font-size: 12px;
		color: var(--font-color);
		font-weight: 500;
		text-align: center;
		margin-right: 2px;

		@for $i from 1 through 3 {
			&.wifi_#{$i} {
				height: 15px;
				text-indent: -9999px;
				background: url('../public/images/bar/ios-wifi-#{$i}-dark.png') center/cover no-repeat;
			}
		}
	}

	.bar_battery {
		width: 25px;
		height: 12px;
		background: url('../public/images/bar/ios-battery-dark.png') center/cover no-repeat;
		padding: 2.3px 5.3px 2.3px 2.3px;
		position: relative;
		.battery {
			text-indent: -9999px;
			border-radius: 1.3px;
			height: 7.3px;
			background-color: #000;
			&.low {
				background-color: #f00;
			}
			&.charge {
				background-color: #65c466;
				&::after {
					content: '';
					position: absolute;
					top: 1px;
					left: 8px;
					width: 6px;
					height: 10px;
					background: url('../public/images/bar/ios-battery-charge-dark.png') center/cover no-repeat;
				}
			}
		}
	}
}

.phone_nav {
	height: 44px;
	padding: 0 16px;
	display: flex;
	align-items: center;
	.left {
		width: 50px;
		position: relative;
		.back {
			width: 9px;
			height: 17px;
			background: url('../public/images/wechat-nav-back.png') center/cover no-repeat;
		}
		span {
			position: absolute;
			font-size: 14px;
			height: 24px;
			line-height: 24px;
			background: #d5d5d5;
			min-width: 24px;
			border-radius: 36px;
			text-align: center;
			padding: 0 8px;
			top: -3.5px;
			left: 15px;
			color: var(--font-color);
		}
	}
	.center {
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		span {
			font-size: 17px;
			font-weight: 500;
			color: var(--font-color);
		}
		.earphone {
			width: 10px;
			height: 14px;
			margin: 2px 0 0 5px;
			background: url('../public/images/wechat-trans-earphone.png') center/cover no-repeat;
		}
	}
	.right {
		width: 50px;
		display: flex;
		justify-content: flex-end;
		div {
			width: 23px;
			height: 4px;
			background: url('../public/images/wechat-nav-right.png') center/cover no-repeat;
		}
	}
}

.phone_body {
	flex: 1;
	overflow: hidden;
	.phone_bg {
		height: 100%;
		.bg_image {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			pointer-events: none;
			user-select: none;
		}
	}
}

.phone_bottom {
	background-color: #f6f6f5;
	.bottom_chat {
		height: 56px;
		display: flex;
		align-items: center;
		width: 100%;
		.icon {
			height: 26.7px;
			width: 26.7px;
			&.voice {
				background: url('../public/images/wechat-bottom-icon1.png') center/contain no-repeat;
				margin-left: 10.6px;
			}
			&.keyboard {
				background: url('../public/images/wechat-bottom-icon4.png') center/contain no-repeat;
				margin-left: 10.6px;
			}
			&.emoji {
				background: url('../public/images/wechat-bottom-icon2.png') center/contain no-repeat;
			}
			&.more {
				background: url('../public/images/wechat-bottom-icon3.png') center/contain no-repeat;
				margin: 0 10.6px 0 13px;
			}
		}
		.input {
			height: 40px;
			background: #fff;
			border-radius: 5px;
			margin: 0 10.6px;
			flex: 1;
			text-align: center;
			line-height: 40px;
			color: var(--font-color);
			font-weight: 500;
		}
	}
	.bottom_bar {
		height: 34px;
		display: flex;
		justify-content: center;
		span {
			width: 134px;
			height: 5px;
			background: url(../public/images/phone-bottom-bar.png) center/contain no-repeat;
			margin-top: 21px;
			text-indent: -9999px;
		}
	}
}
