:root {
	--phone-bg-color: #ededed;
	--font-color: rgb(53, 53, 53);
}

.iphone_x {
	width: 375px;
	height: 812px;
	background-color: var(--phone-bg-color);
}

.phone_bar {
	height: 44px;
	align-items: center;
	display: flex;
	padding: 0 14px 0 31px;
	.bar_time {
		font-size: 15px;
		line-height: 1.5;
		font-weight: 600;
		color: var(--font-color);
		flex: 1;
	}
	.bar_signal {
		width: 18px;
		height: 12px;
		margin-right: 2px;

		@for $i from 1 through 4 {
			&.signal_#{$i} {
				background: url('../public/images/bar/ios-single-#{$i}-dark.png') center/cover no-repeat;
			}
		}
	}

	.bar_networks {
		width: 21px;
		font-size: 12px;
		color: var(--font-color);
		font-weight: 500;
		text-align: center;
		margin-right: 2px;

		@for $i from 1 through 3 {
			&.wifi_#{$i} {
				height: 15px;
				text-indent: -9999px;
				background: url('../public/images/bar/ios-wifi-#{$i}-dark.png') center/cover no-repeat;
			}
		}
	}

	.bar_battery {
		width: 25px;
		height: 12px;
		background: url('../public/images/bar/ios-battery-dark.png') center/cover no-repeat;
		padding: 2.3px 5.3px 2.3px 2.3px;
		position: relative;
		.battery {
			text-indent: -9999px;
			border-radius: 1.3px;
			height: 7.3px;
			background-color: #000;
			&.low {
				background-color: #f00;
			}
			&.charge {
				background-color: #65c466;
				&::after {
					content: '1';
					position: absolute;
					top: 1px;
					left: 8px;
					width: 6px;
					height: 10px;
					background: url('../public/images/bar/ios-battery-charge-dark.png') center/cover no-repeat;
				}
			}
		}
	}
}

.phone_nav {
	height: 44px;
}

